<html>
<body>

<h2>Angular register Page</h2>
<script type="text/javascript" src="angular/angular.min.js"></script>
<body>

<p>Register</p>
<div ng-app="registerApp" ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
User Name: <input type="text" ng-model="userName"><br>
Email Address: <input type="text" ng-model="emailAddress"><br>
PassWord:<input type="text" ng-model="passWord"><br>
<br>
</div>

<script>
var app = angular.module('registerApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";
    $scope.userName= "userName";
});
</script> 
 
</body>
</html>

