
<html>
<body>
<script src="angular/angular.min.js"></script>
<!script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"><!/script>


<h2>Hello Chris</h2>
<img src="hehua.jpg" alt="water lotus" style="width:604px;height:448px;"/>

<p>Welcome To Our Fantastic World</p>

<div ng-app="homeApp" ng-controller="myCtrl">
<button ng-click="loginClicked()">Login</button>
<button ng-click="registerClicked()">Register</button>

<br>
</div>


<script type="text/javascript" src="home/home.view.js"></script>

<script>
/*angular.module('homeApp', [])
.controller('myCtrl', ['$scope', '$location', function($scope, $location) {
    $scope.loginClicked = function() {
    	window.location.href = "/login";
    };
    $scope.registerClicked = function() {
    	window.location.href = "/register";
	}
}]);
*/

</script>  


</body>
</html>