
<html>
<head>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>
    <base href='/'>
	<title>Coding World</title>

	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- Services -->
	<script type="text/javascript" src="service/authService.js"></script>
	<script type="text/javascript" src="app/services/userService.js"></script>
	<script type="text/javascript" src="app/services/storyService.js"></script>
	<!-- Controllers -->
	<script type="text/javascript" src="home/home.controller.js"></script>
	<script type="text/javascript" src="login/login.controller.js"></script>
	<script type="text/javascript" src="register/register.controller.js"></script>
	<!-- routes -->
	<script type="text/javascript" src="router/user.js"></script>
</head>

<body>


<h2>Hello Chris</h2>
<img src="hehua.jpg" alt="water lotus" style="width:604px;height:448px;"/>

<p>Welcome To Our Fantastic World</p>

<div ng-app="homeApp" ng-controller="myCtrl">
<button ng-click="loginClicked()">Login</button>
<button ng-click="registerClicked()">Register</button>

<br>
</div>


<script type="text/javascript" src="home/home.controller.js"></script>

</body>
</html>