<html>

<h2>Angular Login Page</h2>

<script src="/angular/angular.min.js"></script>

<body >

<form name = "form" ng-app="loginApp" ng-controller="LoginController">
    User Name:  <input type="text"    name="username"     ng-model="username" required /> 
    <span  ng-show="form.username.$error.required"> User name is required</span> 
    <br>
    PassWord :  <input type="password"  name = "password" ng-model="password" required /> 
    <span  ng-show="form.password.$error.required">Password is required</span> 
    <br>
    <button type="submit" ng-click="loginSubmit()" ng-disabled="form.username.$invalid ||
                                                  form.password.$invalid">Submit</button>
    {{loginMessage}} 
</form>


<script type="text/javascript" src="login.controller.js">
</script>
 

</body>
</html>

