extends layouts/layout

block content
  .jumbotron
    h1 Hello, world!
    p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    p
      a.btn.btn-primary.btn-lg(href='#', role='button') Learn more

     
